* {
    box-sizing: border-box;
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
}

nav {
    background: #ebebeb;
    padding: 30px;
}

section {
    background: #ebebeb;
    float: left;
    margin: 10px 10px 10px 0;
    width: 600px;
    padding: 40px 10px 10px 10px;
}

aside {
    background: #ebebeb;
    float: left;
    margin: 10px 0 10px 10px;
    width: 340px;
    height: 268px;
    padding: 30px;
}

article {
    color: #ebebeb;
    background: #777;
    margin: 20px 0 0 0;
    width: 100%;
    height: 180px;
    padding: 15px 10px 0 10px;
}

.article {
    margin: 0 auto;
}

#article-content-1 {
    color: #777;
    font-weight: bold;
    position: relative;
    margin: 15px 20px 5px 20px;
    width: 520px;
    height: 50px;
    padding: 15px;
}

#article-content-2 {
    color: #777;
    position: relative;
    margin: 5px 20px 10px 20px;
    width: 520px;
    height: 50px;
    padding: 15px;
}

footer {
    background: #ebebeb;
    padding: 30px;
}

h1 {
    color: #777;
    font-size: 16px;
    font-weight: lighter;
    background: #ebebeb;
    padding: 30px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}